<% if @username.nil? %>
<h2> SignUp here to post </h2>
<form action="/signup" method="post">
  <label for="username">
    <input type="text" name="username">
  </label>
  <label for="password">
    <input type="text" name="password">
  </label>
  <input type="submit" value="Submit">
</form>

<h2> Or log In here </h2>
  <form action="/login" method="post">
    <label for="username">
      <input type="text" name="username">
    </label>
    <label for="password">
      <input type="text" name="password">
    </label>
    <input type="submit" value="Submit">
  </form>


<% else %>

<div>
<h2> Welcome <%=@username%> </h2>
<h3> Here are all the posts from the past few days </h3>
</div>

<%end%>

<% if !@auth_token.nil? %>

<div>
  <form action="/send_post" method="post">
    <label for="message">
      <input type="text" name="message">
    </label>
    <input type="submit" value="Submit">
  </form>
</div>

<%end%>


<% @peeps.each do |peep| %>
<div style="background-color:lightblue">

<p><strong><%="#{peep['user']['handle']}" %></strong></p>

<p><%= "#{peep['body']}" %></p>

<form method="get" action="/view_post">
    <input class='btn btn-primary' type='submit' value='View'>
</form>
<form method="get" action="/view_post">
    <input class='btn btn-primary' type='submit' value='Like'>
</form>
</div>
<hr>
<% end %>
